.green{
	background-color: green;
}
.yelloW{
	background-color: yellow;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.purple{
	background-color: purple;
}
.gray{
	background-color: gray;
}
.Orange {
	background-color: orange;
}